@import "../../sass/variables";

.preview {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.5;
      color: $color-dark-grey;
    }
  }

  
}
