@import "../../sass/variables";

.preview {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;

    h2 {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.5;
      color: $color-dark-grey;
    }
  }
  &-loading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    div.h2 {
      width: 10rem;
      height: 2.1rem;
      @include loader;
    }
    div.button {
      width: 10.6rem;
      height: 4.2rem;
      border-radius: 3rem;
      @include loader;
    }
  }

  &-wrap {
    position: relative;
  }
  &-scroll {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .left-arrw {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
      color: #fff;
      transition: all 0.2ms ease-in-out;

      &:hover {
        background: rgb(99, 98, 98);
      }
    }
    .right-arrw {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
      color: #fff;
      transition: all 0.2ms ease-in-out;

      &:hover {
        background: rgb(99, 98, 98);
      }
    }
  }

  &-items {
    display: flex;
    gap: 4.625rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 1rem 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-loading-items {
    display: flex;
    gap: 4.625rem;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      border-radius: 10px;
      width: 21.1rem;
      height: 28.8rem;
      flex: 1 0 21.1rem;
      @include loader;
    }
  }
}
