@import "../../sass/variables";

.arivalsPreview {
  margin-bottom: 15.6rem;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;

    @media (max-width: 900px) {
      align-items: flex-end;
    }

    h2 {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.5;
      color: $color-dark-grey;
    }
  }
  &-loading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    @media (max-width: 900px) {
      align-items: flex-end;
    }

    div.h2 {
      width: 10rem;
      height: 2.1rem;
      @include loader;
    }
    div.button {
      width: 10.6rem;
      height: 4.2rem;
      border-radius: 3rem;
      @include loader;
    }
  }

  &-items {
    display: flex;
    gap: 4.625rem;
    padding: 1rem;
    flex-wrap: wrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 900px) {
      gap: 1rem;
    }
  }
  &-loading-items {
    display: flex;
    gap: 4.625rem;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      border-radius: 10px;
      width: 21.1rem;
      height: 28.8rem;
      flex: 1 0 21.1rem;
      @include loader;
    }

    @media (max-width: 900px) {
      gap: 1rem;

      .item {
        width: 16rem;
        height: 22rem;
        flex: 1 0 16rem;
      }
    }
  }
}
