.shopping-cart{
    width: 100%;
    margin-top: 157px;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    #count {
      margin-bottom: 20px;
    }
    .cart-title {
        width: 91px;
        height: 33px;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        color: #012348;
        margin-bottom: 28px;
    }
    .cart-container {
      width: 100%;
      //display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 98px;
      .complete-order {
        width: 397px;
        height: 194px;
        border-radius: 4px;
        margin-right: 2%;
        background: #F8F8F8;
        h1 {
          font-size: 14px;
          line-height: 21px;
          font-weight: 600;
          color: #012348;
          margin-top: 20px;
          margin-left: 30px;
          margin-bottom: 8px;
        }
        .cart-line {
          width: 338px;
          border: 1px solid #EAEAEA;
        }
        .total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 30px;
          margin-right: 30px;
          margin-top: 12px;
          .subtotal {
            h2 {
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              color: #012348;
              margin-bottom: 3px;
              margin-top: 0;
            }           
          }
          .total-amount {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: #012348;
          }
        }
        p {
          font-size: 10px;
          font-weight: 300;
          line-height: 15px;
          color: #727272;
          margin-top: 0;
          margin-left: 30px;
          margin-bottom: 9px;
        }
        .cart-line2 {
          width: 338px;
          border: 1px solid #EAEAEA;
        }
        .checkout-btn {
          width: 80%;
          height: 42px;
          margin-left: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          justify-self: center;
          border-radius: 63px;
          gap: 5px;
          background: #fe7702;
          cursor: pointer;
          &:hover {
            background-color: #ca640b;
            .ck-arrw-icon {
              background-color: #fe7702;
            }
          }
          .ck-btn-text {
            font-size: 12px;
            text-align: center;
            font-weight: 400;
            color: #fff;
            a {
              text-decoration: inherit;
              color: inherit;
            }
          }
          .ck-arrw-icon {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #db6805;
            border-radius: 50%;
            color: #fff;
          }
          
        
        }
      }
      .cart-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        margin-bottom: 21px;
        background: #807e7e;
        box-shadow: 3px 3px 18px #807e7e;
        border-radius: 10px;
        .cart-items {
          display: flex;
          flex-direction: column;
          .cart-item {
            width: 608px;
            height: 128px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 9px 14px;
            background: #F8F8F8;
            border: .5px solid #807e7e;
            .cart-img {
              width: 110px;
              height: 110px;
              border-radius: 4px;
              img{
                width: 100%;
                height: 100%;
                object-fit: fill;
              }
            }
            .make-des {
              margin-left: 20px;
              margin-right: 130px;
              width: 221px;
              h1 {
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                color: #012348;
              }
              h3 {
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                color: #2D2D2D;
              }
            }
            #cart-price {
              display: flex;
              justify-content: flex-end;
              width: 125px;
              h1 {
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                color: #012348;
              }
            }
            .quantity {
              display: flex;
              justify-content: flex-end;
              margin-top: 12px;
              span {
                margin-right: 12px;
                cursor: pointer;
              }
            }
            .delete-item {
              display: flex;
              justify-content: flex-end;
              padding-right: 10px;
              margin-top: 19px;
              color: #DB6805;
              cursor: pointer;
              &:hover {
                color: #DB6805;
              }
            }
          }
        }
      }
    }
    .recent-products {
        width: auto;
        margin-bottom: 156px;
        cursor: pointer;
        .recent-top {
          height: 42px;
          margin-bottom: 24px;
          display: flex;
          justify-content: space-between;
          .recent-title {
            width: 191px;
            height: 24px;
            font-weight: 500;
            line-height: 24px;
            font-size: 16px;
            color: #012348;
            text-align: center;
          }
          .recent-btn {
            display: flex;
            align-items: center;
            border-radius: 63px;
            padding: 10px 20px;
            gap: 5px;
            background: #fe7702;
            cursor: pointer;
            &:hover {
              background-color: #ca640b;
              .rv-arrw-icon {
                background-color: #fe7702;
              }
            }
            .rv-btn-text {
              font-size: 12px;
              text-align: center;
              font-weight: 400;
              color: #fff;
            }
            .rv-arrw-icon {
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #db6805;
              border-radius: 50%;
              color: #fff;
            }
          }
        }
        #st-items-display {
          //width: 100%;
          white-space: nowrap;
          position: relative !important;
          #left-arrow {
            position: absolute;
            top: 50%;
            left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            background: rgba(99, 98, 98, 0.623);
            border-radius: 50%;
            cursor: pointer;
          }
          #right-arrow {
            position: absolute !important;
            top: 50%;
            right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            background: rgba(99, 98, 98, 0.623);
            border-radius: 50%;
            cursor: pointer;
          }
    
    
          #slide {
            //width: 100%;
            display: flex;
            flex-direction: row;
            gap: 26px;
            align-items: center;
            overflow-x: scroll;
            scroll-behavior: smooth;
            cursor: pointer; 
            #item {
              position: relative;
              flex-basis: 20%;
              width: 211px;
              height: 288px;
              background: #f9f8f8;
              &:hover {
                background: #fff;
                box-shadow: 3px 3px 18px #c7c6c6;
              }
    
              .trend-link {
                color: inherit;
                text-decoration: inherit;
                .image {
                  width: 141.77px;
                  height: 128px;
                  border-radius: 10px;
                  margin: auto;
                  margin-top: 48px;
                  img {
                    width: 100%;
                    height: 128px;
                    border-radius: 10px;
                    object-fit: contain;
                  }
                }
                .details {
                  width: 200px;
                  height: 75px;
                  margin: auto;
                  margin-top: 12px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: flex-start;
                  text-align: center;
                  .item-name {
                    width: 180px;
                    height: 17px;
                    margin-bottom: 1px;
                    span {
                      font-size: 18px;
                      font-weight: 500;
                      color: #012348;
                      margin: 0;
                    }
                  }
                  .store-name {
                    width: 180px;
                    height: 21px;
                    margin-bottom: 1px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span {
                      font-size: 16px;
                      font-weight: 500;
                      color: #d9d9d9;
                      margin: 0;
                    }
                  }
                  .price {
                    width: 120px;
                    height: 24px;
                    span {
                      font-size: 18px;
                      font-weight: 500;
                      color: #000000;
                      margin: 0;
                    }
                  }
                  .rating {
                    margin: 0;
                    width: 150px;
                    height: 11.5px;
                    .stars {
                      font-size: 8px;
                      display: flex;
                      align-items: flex-start;
                      justify-content: center;
                    }
                  }
                }
              }
              .wishlist-icon {
                position: absolute;
                top: 16px;
                right: 19px;
                width: 22px;
                height: 22px;
                font-size: 20px;
                .heart-active {
                  color: red;
                }
              }
            }
          }
          .slide::-webkit-scrollbar {
            display: none;
          }
        }
      }
    
}
.cart {
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        h2 {
            font-size: 30px;
            margin-right: 10px;
        }
        h4 {
            font-size: 20px;
        }
    }
    .recent-products {
        margin-bottom: 156px;
        cursor: pointer;
        .recent-top {
          padding-right: 100px;
          width: 100%;
          height: 42px;
          margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          .recent-title {
            width: 191px;
            height: 24px;
            font-weight: 500;
            line-height: 24px;
            font-size: 16px;
            color: #012348;
            text-align: center;
          }
          .recent-btn {
            display: flex;
            align-items: center;
            border-radius: 63px;
            padding: 10px 20px;
            gap: 5px;
            background: #fe7702;
            cursor: pointer;
            &:hover {
              background-color: #ca640b;
            .rv-arrw-icon {
                background-color: #fe7702;
              }
            }
            .rv-btn-text {
              font-size: 12px;
              text-align: center;
              font-weight: 400;
              color: #fff;
            }
            .s-arrw-icon {
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #db6805;
              border-radius: 50%;
              color: #fff;
            }
          }
        }
      }
}

// responsiveness for recent products
@media (min-width: 310px) {
  #st-items-display {
    width: 350px !important;
    //padding: 0 auto !important;
    #left-arrow {
      position: absolute;
      top: 50%;
      left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
    }

    #slide {
      width: 340px;
      display: flex;
      gap: 16px;
      align-items: center;
      scroll-behavior: smooth;
      cursor: pointer;

      #item {
        min-width: 140px;
        height: 220px !important;
        .trend-link {
          color: inherit;
          text-decoration: inherit;
          #image {
            width: 80.77px;
            height: 80px;
            border-radius: 10px;
            margin: auto;
            margin-top: 48px;
            img {
              width: 100%;
              height: 80px;
              border-radius: 10px;
              object-fit: contain;
            }
          }
          #details {
            width: 80px;
            height: 55px;
            margin: auto;
            margin-top: 6px;
            #item-name {
              width: 100px;
              height: 10px;
              margin-bottom: 5px;
              span {
                font-size: 12px;
              }
            }
            #store-name {
              width: 100px;
              height: 18px !important;
              margin-bottom: 5px;
              span {
                font-size: 12px;
              }
            }
            #price {
              width: 100px;
              height: 10px;
              margin-bottom: 2px;
              span {
                font-size: 14px;
                font-weight: 500;
                color: #000000;
                margin: 0;
              }
            }
            #rating {
              margin: 0;
              width: 80px;
              height: 7.5px;
              padding-top: 5px;
              .stars {
                font-size: 6px;
              }
            }
          }
        }
      }
    }
    .slider::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 410px) {
  #st-items-display {
    width: 400px !important;
  }  
}

@media (min-width: 390px) {
  #st-items-display {
    width: 365px !important;
  }  
}

@media (min-width: 810px) {
  #st-items-display {
    min-width: 720px !important;
    #slide {
      min-width: 720px !important;
      padding-left: 3.9% !important;
      gap: 20px !important;
    }
  }
}

@media (min-width: 700px) {
  #st-items-display {
    min-width: 640px !important;
    #slide {
      min-width: 630px !important;
      padding-left: 1.5%;
      gap: 10px;
      #item {
        max-width: 112px;
        height: 196px !important;
        .image {
          width: 70.77px;
          height: 60px;
          margin: auto;
          margin-top: 24px;
          img {
            width: 100%;
            height: 60px;
          }
        }
        .details {
          width: 130px;
          height: 35px;
          margin: auto;
          margin-top: 6px;
          #item-name {
            width: 120px;
            //height: 17px !important;
            margin-bottom: 5px !important;
            span {
              font-size: 12px;
            }
          }
          #store-name {
            width: 120px;
            height: 16px !important;
            margin-bottom: 5px !important;
            span {
              font-size: 12px;
              font-weight: 500;
              color: #777575;
              margin: 0;
            }
          }
          #price {
            width: 80px;
            height: 10px !important;
            span {
              font-size: 13px;
            }
          }
          #rating {
            margin: 0;
            width: 70px;
            height: 7.5px;
            padding-top: 5px;
            .stars {
              font-size: 6px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #st-items-display {
    min-width: 890px !important;
    #right-arrow {
      position: absolute !important;
      top: 50%;
      right: -190px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
    }
    #slide {
      width: 890px !important;
      padding-left: 2% !important;
      gap: 35px !important;
      #item {
        min-width: 138px !important;
        height: 206px !important;
        .image {
          width: 80.77px;
          height: 50px;
          margin: auto;
          margin-top: 34px;
          img {
            width: 100%;
            height: 60px;
            border-radius: 10px;
            object-fit: contain;
          }
        }
        .details {
          width: 140px;
          height: 35px;
          margin: auto;
          margin-top: 6px;
          #item-name {
            width: 120px;
            height: 17px;
            margin-bottom: 5px !important;
            span {
              font-size: 12px;
              font-weight: 500;
              color: #012348;
              margin: 0;
            }
          }
          #store-name {
            width: 120px;
            height: 8px;
            margin-bottom: 1px;
            span {
              font-size: 12px;
              font-weight: 500;
              color: #777575;
              margin: 0;
            }
          }
          #price {
            width: 80px;
            height: 20px;
            span {
              font-size: 14px;
              font-weight: 500;
              color: #000000;
              margin: 0;
            }
          }
          #rating {
            margin: 0;
            width: 100px;
            height: 7.5px;
            padding-top: 5px;
            .stars {
              font-size: 6px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #st-items-display {
    min-width: 1100px !important;
    #right-arrow {
      position: absolute !important;
      top: 50%;
      right: -390px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
    }
    #slide {
      width: 1100px !important;
      padding-left: 2%;
      gap: 25px !important;
      #item {
        min-width: 178px !important;
        height: 220px !important;
        .trend-link {
          #image {
            width: 101.77px;
            height: 102px;
            border-radius: 10px;
            margin: auto;
            margin-top: 28px;
            img {
              width: 100%;
              height: 102px;
              border-radius: 10px;
              object-fit: contain;
            }
          }
          #details {
            width: 200px;
            height: 75px;
            #item-name {
              width: 180px;
              height: 17px;
              margin-bottom: 1px;
              span {
                font-size: 14px;
                font-weight: 500;
                color: #012348;
                margin: 0;
              }
            }
            #store-name {
              width: 180px;
              height: 21px;
              margin-bottom: 5px !important;
              span {
                font-size: 12px !important;
              }
            }
            #price {
              width: 120px;
              height: 24px;
              span {
                font-size: 18px;
                font-weight: 500;
                color: #000000;
                margin: 0;
              }
            }
            #rating {
              margin: 0;
              padding-top: 5px;
              width: 150px;
              height: 11.5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  #st-items-display {
    width: 1250px !important;
    #right-arrow {
      position: absolute !important;
      top: 50%;
      right: -550px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
    }
    #slide {
      width: 1250px !important;
      padding-left: 3.5% !important;
      gap: 45px !important;
      #item {
        min-width: 166px !important;
        height: 230px !important;
        #details {
          width: 200px;
          height: 75px;
          #item-name {
            width: 140px;
            height: 12px !important;
            margin-bottom: 5px !important;
            span {
              font-size: 14px;
            }
          }
          #store-name {
            width: 140px;
            height: 17px !important;
            margin-bottom: 5px !important;
            span {
              font-size: 14px;
            }
          }
          #price {
            width: 120px;
            height: 24px;
            span {
              font-size: 18px;
            }
          }
          #rating {
            margin: 0;
            padding-top: 2px !important;
            width: 150px;
            height: 11.5px;
            #stars {
              font-size: 8px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1700px) {
  #st-items-display {
    width: 1650px !important ;
    padding-bottom: 20px;
    #right-arrow {
      position: absolute !important;
      top: 50%;
      right: -950px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      background: rgba(99, 98, 98, 0.623);
      border-radius: 50%;
      cursor: pointer;
    }

    #slide {
      width: 1650px !important;
      display: flex;
      gap: 10px !important;
      align-items: center;
      scroll-behavior: smooth;
      cursor: pointer;

      #item {
        position: relative;
        flex-basis: 20%;
        min-width: 211px !important;
        height: 290px !important;
        margin-right: 50px;
        background: #f9f8f8;
        border-radius: 10px;
        &:hover {
          background: #fff;
          box-shadow: 3px 3px 18px #c7c6c6;
        }

        .trend-link {
          color: inherit;
          text-decoration: inherit;
          #image {
            width: 141.77px;
            height: 128px;
            border-radius: 10px;
            margin: auto;
            margin-top: 48px;
            img {
              width: 100%;
              height: 128px;
              border-radius: 10px;
              object-fit: contain;
            }
          }
          #details {
            width: 200px;
            height: 75px;
            margin: auto;
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            #item-name {
              width: 180px;
              height: 17px;
              margin-bottom: 5px !important;
              span {
                font-size: 18px;
                font-weight: 500;
                color: #012348;
                margin: 0;
              }
            }
            #store-name {
              width: 180px;
              height: 17px !important;
              margin-bottom: 5px !important;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              span {
                font-size: 16px;
                font-weight: 500;
                color: #d9d9d9;
                margin: 0;
              }
            }
            #price {
              width: 120px;
              height: 8px !important;
              margin-bottom: 5px !important;
              span {
                font-size: 18px;
                font-weight: 500;
                color: #000000;
                margin: 0;
              }
            }
            #rating {
              width: 150px;
              height: 11.5px;
              padding-top: 10px !important;
              #stars {
                font-size: 8px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .slider::-webkit-scrollbar {
      display: none;
    }
  }
}
// finish
@media (min-width: 1700px) {
  #shopping-cart {
    padding-left: 5%;
    padding-right: 5%;
    #count {
      transform: translateX(10%) !important;
    }
    #cart-container {
      #complete-order {
        min-width: 347px !important;
      }
      #cart-info {
        width: 920px !important;
        gap: 16.4% !important;
        #cart-items {
          #cart-item {
            min-width: 730px !important;
            height: 128px !important;
            #cart-img {
              width: 110px !important;
              height: 110px !important;
              border-radius: 4px;
              img{
                width: 100%;
                height: 100%;
                object-fit: fill;
              }
            }
            #cart-price {
              h1 {
                font-size: 12px !important;
                line-height: 27px !important;
                min-width: 125px !important;
              }
            }
            #make-des {
              h1 {
                font-size: 15px !important;
                width: 150px;
              }
              h3 {
                font-size: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  #shopping-cart {
    padding-left: 5%;
    padding-right: 5%;
    #cart-container {
      #complete-order {
        min-width: 347px !important;
      }
      #cart-info {
        min-width: 790px !important;
        gap: 16.4% !important;
        #cart-item {
          min-width: 430px !important;
          height: 128px !important;
          #cart-img {
            width: 110px !important;
            height: 110px !important;
            border-radius: 4px;
            img{
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
          #cart-price {
            h1 {
              line-height: 15px !important;
            }
          }
          #make-des {
            h1 {
              font-size: 13px;
            }
            h3 {
              font-size: 10px;
            }
          }
          .cart-price {
            h1 {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #shopping-cart {
    padding-left: 5%;
    padding-right: 5%;
    #count {
      transform: translateX(7%);
    }
    #cart-item {
      #cart-img {
        width: 110px !important;
        height: 110px !important;
        border-radius: 4px;
        img{
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      #cart-price {
        h1 {
          line-height: 15px !important;
        }
      }
      #make-des {
        h1 {
          font-size: 13px;
        }
        h3 {
          font-size: 10px;
        }
      }
      .cart-price {
        h1 {
          font-size: 13px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #shopping-cart {
    padding-left: 5% !important;
    padding-right: 5% !important;
    #count {
      padding-left: 9% !important;
    }
    #cart-container {
      padding-left: .5%;
      #cart-info {
        #cart-item {
          #cart-img {
            width: 110px !important;
            height: 110px !important;
            border-radius: 4px;
            img{
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
          #cart-price {
            h1 {
              line-height: 10px;
            }
          }
          #make-des {
            h1 {
              font-size: 13px;
            }
            h3 {
              font-size: 10px;
            }
          }
          .cart-price {
            h1 {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px), (min-width: 700px) {
  #shopping-cart {
    padding-left: 5% !important;
    padding-right: 5% !important;
    #cart-container {
      //padding-left: .5%;
      #complete-order {
        width: 250px !important;
      }
      #cart-info {
        width: 620px !important;
        flex-direction: row !important;
        gap: 9.5%;
        .cart-items {
          #cart-item {
            width: 360px !important;
            height: 115px;
            #cart-img {
              width: 120px !important;
              height: 90px !important;
              border-radius: 4px;
              img{
                width: 100%;
                height: 100%;
                object-fit: fill;
              }
            }
            #cart-price {
              h1 {
                line-height: 10px !important;
              }
            }
            #make-des {
              h1 {
                font-size: 13px;
              }
              h3 {
                font-size: 10px;
              }
            }
            .cart-price {
              h1 {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  #shopping-cart {
    #count {
      margin-left: 9% !important;
    }
  }
}
@media (min-width: 400px) {
  #shopping-cart {
    #count {
      margin-left: 9% !important;
    }
  }
}

@media (min-width: 300px) {
  #shopping-cart {
    margin-top: 40px;
    #count {
      font-size: 14px;
      margin-left: 5%;
    }
    #cart-container {
      display: flex;
      #complete-order {
       width: 308px;
       margin-right: 0;
      }
      #cart-info {
        width: 308px;
        margin-right: 0;
        flex-direction: column;
        .cart-items {
          width: 308px;
          margin-bottom: 5px;
          #cart-item {
            width: 308px;
            height: 98px;
            #cart-img {
              width: 50px;
              height: 50px;
              border-radius: 4px;
            }
            #make-des {
              margin-left: 20px;
              margin-right: 50px;
              width: 91px;
              h1 {
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
                color: #012348;
              }
              h3 {
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                color: #2D2D2D;
              }
            }
            #cart-price {
              display: flex;
              justify-content: flex-end;
              width: 101px;
              h1 {
                font-size: 12px;
                font-weight: 600;
                line-height: 8px;
                color: #012348;
              }
            }
          }
        }
      }
    }
  }
}