.deposit-page {
  width: 948px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .deposit-component {
    width: 551px;

    .deposit-pt {
      font-weight: 700;
      font-size: 20px;
      color: #00000066;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imgslider {
      margin-top: 30px;
      width: 100%;

      .swiper-pagination-bullet-active {
        background: #fe7702;
      }

      .card-swiper {
        margin: auto;
        width: 90%;
        margin-top: 10px;
        border-bottom-left-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .slide {
          height: 200px;
          width: 400px;
          border-radius: 15px;
          background-image: linear-gradient(
            to right top,
            #280537,
            #56034c,
            #890058,
            #bc005b,
            #eb1254
          );
          color: #fff;
          filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;

          gap: 30px;
          padding: 20px 40px;
          box-sizing: border-box;

          .cardNumber {
            font-size: 24px;
            font-weight: 500;
            display: flex;
            justify-content: space-around;
            align-items: center;

            & > :nth-child(1) {
              font-size: 50px;
            }
          }
          .cardHolder {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 20px;
            box-sizing: border-box;
            border-top-left-radius: 30px !important;
            border-top-right-radius: 30px !important;
            border: none;
            border-radius: 6px;
            background-color: blue;
            color: #fff;
            background-image: linear-gradient(
              to right top,
              #0c0537,
              #440b51,
              #7f005d,
              #b9005b,
              #eb124b
            );

            & > :nth-child(1) {
              font-size: 18px;
            }

            & > :nth-child(2) {
              font-size: 20px;
            }
          }
        }
      }
    }
    .deposit-ph {
      margin-top: 50px;
      margin-bottom: 20px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
    }
    .fields {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
      }
    }
    .w-btn {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
}
