@import "../../sass/variables";

.productItem {
  background: #f9f8f8;
  border-radius: 10px;
  position: relative;

  &-heart {
    position: absolute;
    padding: 4px;
    top: 1.4rem;
    right: 1.6rem;
  }
  &-image {
    img {
      width: 15rem;
      max-height: 13rem;
    }
  }
}
